
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    <div class="col-md-6">
        <div class="w-100" id="piechart_3d" style=" height: 500px;"></div>
    </div>
    <div class="col-md-6">
        <div class="w-100" id="piechart" style=" height: 500px;"></div>
    </div>

</div>

@section Javascript{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            let enCokIsTamamlayan = [['Personel Adı', 'Görev Sayısı']];
            $.ajax({
                type: "get",
                url: "./Grafik/EnCokTamamlayan",
                async: false,
                success: function (data) {
                    let gelenObje = jQuery.parseJSON(data);
                    $.each(gelenObje, (index, value) => {
                        enCokIsTamamlayan.push([value.Isim, value.GorevSayisi])
                    });
                }
            })

            var data = google.visualization.arrayToDataTable(enCokIsTamamlayan);

            var options = {
                title: 'En Çok İş Tamamlayan 5 Personel'
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));

            chart.draw(data, options);
        }

        google.charts.load("current", { packages: ["corechart"] });
        google.charts.setOnLoadCallback(drawChart2);

        function drawChart2() {

            let enCokCalisan = [['Personel Adı', 'Görev Sayısı']];
            $.ajax({
                type: "get",
                url: "./Grafik/EnCokCalisan",
                async: false,
                success: function (data) {
                    let gelenObje1 = jQuery.parseJSON(data);
                    $.each(gelenObje1, (index, value) => {
                        enCokCalisan.push([value.Isim, value.GorevSayisi])
                    });
                }
            })

            var data = google.visualization.arrayToDataTable(enCokCalisan);

            var options = {
                title: 'Aktif Olarak Çalışanlar ',
                is3D: true,
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
            chart.draw(data, options);
        }
    </script>
}
