
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_StandartLayout.cshtml";
}

    <div class="row mt-5">
        <div class="col-md-4">
            <img src="~/img/delete-icon.png" class="w-100 img-fluid" />
        </div>
        <div class="col-md-8 display-4">
            <p class="text-danger display-4"> Bir hata oluştu. Hata ekibimiz tarafından en kısa zamanda çözelecek.</p>
        </div>
    </div>
